<?xml version="1.0"?>
<robot name="board_fixture">
    <link name="board_fixture">
        <visual>
            <origin xyz="0 0 0 " rpy=" 0 0 0"/>
            <geometry>
                <mesh filename="./Board_Fixture.stl"/>
            </geometry>
            <material name="red">
                <color rgba="0.0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="./Board_Fixture.stl"/>
            </geometry>
        </collision>
    </link>
</robot>