<?xml version="1.0"?>
<robot name="board1_block4">
    <link name="board1_block4">
        <visual>
            <origin xyz="0 0 0 " rpy=" 0 0 0"/>
            <geometry>
                <mesh filename="../meshes/SIMO_Board1_Block4.stl" scale="0.001 0.001 0.001"/>
            </geometry>
            <material name="red">
                <color rgba="0.0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/SIMO_Board1_Block4.stl" scale="0.001 0.001 0.001"/>
            </geometry>
        </collision>
    </link>
</robot>