<?xml version="1.0"?>
<robot name="base">
    <link name="base">
        <visual>
            <origin xyz="0 0 0" rpy=" 0 0 0"/>
            <geometry>
                <mesh filename="../meshes/base.stl"/>
            </geometry>
            <material name="red">
                <color rgba="0.0 0.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="../meshes/base.stl"/>
            </geometry>
        </collision>
    </link>
</robot>